.login__screen {
    display: flex;
    justify-content: center;
    font-family: "Titillium Web", sans-serif;
    padding-top: 40px;
    .form__container{
        min-height: 60vh;
        .login__title {
            font-family: "Titillium Web", sans-serif;
            padding: 20px 0 10px 0;
        }
        .login__form {
            display: flex;
            flex-direction: column;
            min-width: 450px;
        }
    }
    .btn {
        background-color: black;
        color: #DEDEDE;
        margin: 20px 0 20px 0;
    }
    a {
        color: black;
        margin-top: 20px;
    }
}