.header {
    background-color: #DEDEDE;
    .header__container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin: 0px auto;
        min-height: 8vh;
        

        .header__logo {
            font-weight: bold;
            height: 42px;
            text-decoration: none;
            color: black;
            margin: 0;
            display: flex;
            align-items: center;
            img {
                width: 250px;
            }
        }
        .header__button {
            background-color: red;
            margin-right: 15px;
            border-radius: 50%;
            :hover {
                background-color: blue;
            }
        }
        .log__cart {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;
            .header__welcome {
                a {
                    text-decoration: underline;
                    :focus {
                        box-shadow: none;
                    }
                }
                .btn {
                    text-decoration: underline;
                }
            }
            
            }
        }
        
    }
    .header__nav {
        background-color: black;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        .links__container {

            a {
                text-decoration: none;
                color: #DEDEDE;
                margin: 10px;
            }
        }
        
    }
