.cart__container{
                    
    cursor: pointer;
    .cart {
        color: black;
        text-decoration: none;
    }
    .cart__number {

        background-color: red;
        padding: 4px;
        border-radius: 50%;
        position: absolute;
        color: white;
        
    }
}