.cart__detail__container {
        display: flex;
        flex-direction: row;
        min-height: 60vh;
        .empty__image {
            width: 800px;
        }
        .cart__display {
            min-width: 60vw;
            margin-left: 50px;
            // .empty__title {
            //     margin-top: 20px;
            // }
            .cart__container {
                display: flex;
                flex-direction: row;
                margin: 10px;
                    .image__container {
                        width: 300px;
                        display: flex;
                        justify-content: center;
                        img {
                            align-self: center;
                            width: 300px;
                            height: auto;
                        }
                    }
                    .description__container {
                        width: 300px;
                        justify-content: space-around;
                        margin: 10px;
                        display: flex;
                        flex-direction: column;
                        button {
                            svg {
                                color: black;
                                border-color: black;
                            }
                        }  
                    }
        
                }
            }
        }
    .order__display{
        background-color: #DEDEDE;
        padding: 25px;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        justify-content: space-between;
        .text__container {
            
            .order__text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .button__container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            a {
                margin-top: 10px;
                background-color: black;
                color: #DEDEDE;
            }
            button {
                margin-top: 10px;
                width: 100%;
                background-color: #DEDEDE;
                color: black;
            }

        }
}